/*? global clearing */
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    background-color: #222222;
    color: white;
}
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    border: 2px solid wheat;
    padding: 12px;
    cursor: pointer;
}
.content:hover {
    background-color: aqua;
    color: black;
    transition: .3s ease-in-out;
}

.bar-top {
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    animation: progress-horizontal, progress-color;
    position: fixed;
    animation-timeline: scroll();
    transform-origin: 0%;
}

.bar-bottom {
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
    animation: progress-horizontal, progress-color;
    position: fixed;
    animation-timeline: scroll();
    transform-origin: 100%;
}
.bar-left {
    width: 10px;
    height: 100%;
    bottom: 0;
    left: 0;
    animation: progress-vertical, progress-color;
    position: fixed;
    animation-timeline: scroll();
    transform-origin: 0 100%;
}
.bar-right {
    width: 10px;
    height: 100%;
    bottom: 0;
    right: 0;
    animation: progress-vertical, progress-color;
    position: fixed;
    animation-timeline: scroll();
    transform-origin: 0 0%;
}


@keyframes progress-horizontal {
    0% {
        transform: scaleX(0);
}
    100% {
        transform: scaleX(1)    ;
}
}
@keyframes progress-vertical {
    0% {
        transform: scaleY(0);
}
    100% {
        transform: scaleY(1)    ;
}
}

@keyframes progress-color {
    0% {
        background-color: aliceblue;
    }
    10% {
        background-color: aquamarine;
    }

    20% {
        background-color: blue;
    }
    30% {
        background-color: gold;
    }

    40% {
        background-color: blueviolet;
    }

    60% {
        background-color: chartreuse;
    }

    80% {
        background-color: crimson;
    }

    90% {
        background-color: cornflowerblue;
    }

    100% {
        background-color: aqua;
    }

} 